<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Simple Game</title>
            </f:facet>
            <h:outputStylesheet library="css" name="navbuttons.css"/>
            <style>
                .ui-widget-header {
                    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #b32e2e));
                    background-color:#fe1a00;
                    border:1px solid #050000;
                    color:#171317;
                    font-family:Arial;
                    font-size:15px;
                    font-weight:bold ;
                    text-shadow:0px 1px 0px #a33f38;
                }
            </style>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="west" size="225" header="Menu" collapsible="true">
                    <h:button outcome="/index" styleClass="navButton" value="Home" />
                    <h:button outcome="/coolweb/CoolGame" styleClass="navButton" value="Cool Cardgame" />
                    <h:button outcome="/playableweb/PlayableGame" styleClass="navButton" value="Playable Game" />
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <h:form id="centerform">
                        <p:growl id="msgs" showDetail="true" />
                        <p:panel id="Game_Config" header="Game Configuration" toggleable="true" toggleSpeed="500" closeSpeed="500" style="margin-bottom:20px; width: 1000px">
                            <p:ajax event="close" listener="#{simpleGameController.onClose}" update="msgs" />
                            <p:ajax event="toggle" listener="#{simpleGameController.onToggle}" update="msgs" />
                            <h:panelGrid columns="3" cellpadding="10">
                                <h:outputText id="info" value="#{simpleGameController.geterrormessage()}"/>
                                <h:outputText value=""/>
                                <h:outputText value=""/>
                                <h:outputText value="Bot Count: " />
                                <p:inputNumber id="BotInput" value="#{simpleGameController.bots}" decimalPlaces="0">
                                    <p:ajax event="keyup"/>
                                </p:inputNumber>
                                <h:outputText id="Botoutput" value="#{simpleGameController.bots}" />
                                <h:outputText value="Round Count: "/>
                                <p:inputNumber id="Roundinput" value="#{simpleGameController.maxRounds}" decimalPlaces="0">
                                    <p:ajax event="keyup"/>
                                </p:inputNumber>
                                <h:outputText id="Roundoutput" value="#{simpleGameController.maxRounds}" />
                                <p:commandButton styleClass="navButton" id="setupbutton" value="Setup Game"
                                                 style="width: 250px !important;"
                                                 actionListener="#{simpleGameController.gameSetup()}" update="info,Botoutput,Roundoutput" process="@this"/>
                            </h:panelGrid>
                        </p:panel>
                        <p:commandButton styleClass="navButton" id="gamebutton" value="Run Game"
                                         style="width: 250px !important;  margin-bottom: 20px !important;"
                                         actionListener="#{simpleGameController.mains()}" update="outputgame" process="@this"/>
                        <p:outputPanel id="outputgame" deferred="true">
                            <h:outputText value="#{simpleGameController.getgameoutput()}" escape="false" />
                        </p:outputPanel>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>