/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21.12.2018, 11:31:56
    Author     : alexander.lohmann
*/

.navButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93 !important;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93 !important;
    box-shadow:inset 0px 1px 0px 0px #f29c93 !important;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #b32e2e)) !important;
    background:-moz-linear-gradient(top, #fe1a00 5%, #b32e2e 100%) !important;
    background:-webkit-linear-gradient(top, #fe1a00 5%, #b32e2e 100%) !important;
    background:-o-linear-gradient(top, #fe1a00 5%, #b32e2e 100%) !important;
    background:-ms-linear-gradient(top, #fe1a00 5%, #b32e2e 100%) !important;
    background:linear-gradient(to bottom, #fe1a00 5%, #b32e2e 100%) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#b32e2e',GradientType=0) !important;
    background-color:#fe1a00 !important;
    border:1px solid #050000 !important;
    display:inline-block !important;
    cursor:pointer !important;
    color:#171317 !important;
    font-family:Arial !important;
    font-size:15px !important;
    font-weight:bold !important;
    padding:10px !important;
    width: 100% !important;
    text-align: center !important;
    text-decoration:none !important;
    text-shadow:0px 1px 0px #a33f38 !important;
    overflow: elipsis !important;
}
.navButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b32e2e), color-stop(1, #fe1a00)) !important;
    background:-moz-linear-gradient(top, #b32e2e 5%, #fe1a00 100%) !important;
    background:-webkit-linear-gradient(top, #b32e2e 5%, #fe1a00 100%) !important;
    background:-o-linear-gradient(top, #b32e2e 5%, #fe1a00 100%) !important;
    background:-ms-linear-gradient(top, #b32e2e 5%, #fe1a00 100%) !important;
    background:linear-gradient(to bottom, #b32e2e 5%, #fe1a00 100%) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b32e2e', endColorstr='#fe1a00',GradientType=0) !important;
    background-color:#b32e2e !important;
}
.navButton:active  {
    position:relative !important;
    top:1px !important;
}


