<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Spiel das Spiel!</title>
            </f:facet>
            <h:outputStylesheet library="css" name="navbuttons.css"/>
            <style>
                .ui-widget-header {
                    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #b32e2e));
                    background-color:#fe1a00;
                    border:1px solid #050000;
                    color:#171317;
                    font-family:Arial;
                    font-size:15px;
                    font-weight:bold ;
                    text-shadow:0px 1px 0px #a33f38;
                }
            </style>
        </h:head>
        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="225" class="menu" header="Menu" collapsible="true">
                    <h:button outcome="/index" styleClass="navButton" value="Home" />
                    <h:button outcome="/simpleweb/SimpleGame" styleClass="navButton" value="Simple Cardgame" />
                    <h:button outcome="/coolweb/CoolGame" styleClass="navButton" value="Cool Cardgame" />
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <h:form id="fullform">
                        <p:growl id="msgs" showDetail="true" />
                        <p:panel id="Game_Config" header="Game Configuration" toggleable="true" toggleSpeed="500" closeSpeed="500"
                                 style="margin-bottom:20px; width: 1000px" rendered="#{playableGameController.rendered}">
                            <p:ajax event="close" listener="#{playableGameController.onClose}" update="msgs" />
                            <p:ajax event="toggle" listener="#{playableGameController.onToggle}" update="msgs" />
                            <h:panelGrid columns="3" cellpadding="10">
                                <h:outputText value="Player Name (Empty Name = Bot): " />
                                <h:inputText id="BotInput" value="#{playableGameController.name}"/>
                                <p:ajax event="keyup"/>
                                <p:commandButton value="Add Player/Bot" actionListener="#{playableGameController.addPlayer()}"
                                                 styleClass="navButton" update="testOutput" process="@this"/>
                                <h:outputText value="Maximum Rounds to Play: "/>
                                <p:inputNumber id="Roundinput" value="#{playableGameController.maxRounds}" decimalPlaces="0">
                                    <p:ajax event="keyup"/>
                                </p:inputNumber>
                                <p:commandButton styleClass="navButton" id="setupbutton" value="Set Max Rounds"
                                                 style="width: 250px !important;"
                                                 actionListener="#{playableGameController.setupMaxRounds()}" update="testOutput" process="@this"/>
                            </h:panelGrid>
                        </p:panel>
                        <p:commandButton id="gamestart" value="Start Game" styleClass="navButton" style="width: 250px !important;  margin-bottom: 20px !important;"
                                         actionListener="#{playableGameController.finalizeSetup()}" update="fullform" process="@this" rendered="#{playableGameController.rendered}"/>
                        <h:outputText  id="currentPlayer" value="#{playableGameController.currentPlayer.name}!" escape="false" rendered="#{playableGameController.cardRendered}"/> <br/>
                        <h:outputText  id="testOutput" value="#{playableGameController.testOutput}" escape="false"/>
                        <br/>
                        <h:outputText id="cardplay" value="Please select an Card to Play." rendered="#{playableGameController.cardRendered}"/> <br/>
                        <h:outputText id="trump" value="Trump= #{playableGameController.gamefield.trump.getColor().name()} #{playableGameController.gamefield.trump.value} " rendered="#{playableGameController.cardRendered}"/> <br/>
                        <h:outputText id="playedcard" value="#{playableGameController.contestantOneCard.getPlayer().getName()}
                                      played: #{playableGameController.contestantOneCard.getCard().getColor().name()}
                                      #{playableGameController.contestantOneCard.getCard().value} "
                                      rendered="#{playableGameController.playedCardRendered}"/> <br/>
                        <p:repeat value="#{playableGameController.currentPlayer.playerHand}" var="card" rendered="#{playableGameController.cardRendered}" id="cardlist">
                            <p:commandButton styleClass="navButton" id="cards" value="#{card.getColor().name()} #{card.getValue()}" style="width: 150px !important;"
                                             actionListener="#{playableGameController.contestantPlaysCard(card)}"
                                             update="fullform" process="@this"/>

                        </p:repeat>
                        <p:commandButton id="nextbutton" value="Next" styleClass="navButton" style="width: 250px !important;  margin-bottom: 20px !important;"
                                         rendered="#{playableGameController.nextbuttonRendered}" actionListener="#{playableGameController.nextToPlayCard()}" update="fullform" process="@this" />

                    </h:form>

                </p:layoutUnit>

            </p:layout>

        </h:body>
    </f:view>
</html>
