<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Cool Game</title>
            </f:facet>
            <h:outputStylesheet library="css" name="navbuttons.css"/>
            <style>
                .ui-widget-header {
                    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #b32e2e));
                    background-color:#fe1a00;
                    border:1px solid #050000;
                    color:#171317;
                    font-family:Arial;
                    font-size:15px;
                    font-weight:bold ;
                    text-shadow:0px 1px 0px #a33f38;
                }
                .ui-treenode-content {
                    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #b32e2e)) !important;
                    background-color:#fe1a00 !important;
                    border:1px solid #050000;
                    color:#171317 !important;
                    font-family:Arial !important;
                    font-size:15px !important;
                    font-weight:bold !important;
                    text-shadow:0px 1px 0px #a33f38 !important;
                }
                .ui-widget-content {
                    border: none;
                }
            </style>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="west" size="225" class="menu" header="Menu" collapsible="true">
                    <h:button outcome="/index" styleClass="navButton" value="Home" />
                    <h:button outcome="/simpleweb/SimpleGame" styleClass="navButton" value="Simple Cardgame" />
                    <h:button outcome="/playableweb/PlayableGame" styleClass="navButton" value="Playable Game" />
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <h:form id="fullform">
                        <p:growl id="msgs" showDetail="true" />
                        <p:panel id="Game_Config" header="Game Configuration" toggleable="true" toggleSpeed="500" closeSpeed="500" style="margin-bottom:20px; width: 1000px">
                            <p:ajax event="close" listener="#{coolGameController.onClose}" update="msgs" />
                            <p:ajax event="toggle" listener="#{coolGameController.onToggle}" update="msgs" />
                            <h:panelGrid columns="3" cellpadding="10">
                                <h:outputText id="info" value="#{coolGameController.geterrormessage()}"/>
                                <h:outputText value=""/>
                                <h:outputText value=""/>
                                <h:outputText value="Bot Count: " />
                                <p:inputNumber id="BotInput" value="#{coolGameController.bots}" decimalPlaces="0">
                                    <p:ajax event="keyup"/>
                                </p:inputNumber>
                                <h:outputText id="Botoutput" value="#{coolGameController.bots}" />
                                <h:outputText value="Round Count: "/>
                                <p:inputNumber id="Roundinput" value="#{coolGameController.maxRounds}" decimalPlaces="0">
                                    <p:ajax event="keyup"/>
                                </p:inputNumber>
                                <h:outputText id="Roundoutput" value="#{coolGameController.maxRounds}" />
                                <p:commandButton styleClass="navButton" id="setupbutton" value="Setup Game"
                                                 style="width: 250px !important;"
                                                 actionListener="#{coolGameController.gameSetup()}" update="info,Botoutput,Roundoutput" process="@this"/>
                            </h:panelGrid>
                        </p:panel>
                        <h:outputText id="error" value="#{coolGameController.geterrormessage()}" escape="false"/>
                        <p:commandButton styleClass="navButton" id="gamebutton" value="Run Game"
                                         style="width: 250px !important;  margin-bottom: 20px !important;"
                                         actionListener="#{coolGameController.mains()}" update="resultlist,error,tree" process="@this"/>
                        <p:dataList id="resultlist" value="#{coolGameController.gameresult.getResult()}" var="roundresults" style="width: 350px" type="unordered">
                            <f:facet name="header">
                                Game
                            </f:facet>
                            <h:outputText value="#{roundresults.currentRound}:"/> <br/>
                            <h:outputText value="Trump= "/>
                            <h:outputText value="#{(roundresults.currentTrump.getValue())}" style="color: #{roundresults.currentTrump.getColor().name()}"/>
                            <p:dataList id ="subroundlist" value="#{roundresults.subRoundResults}" var="subroundresults" type="unordered">
                                <h:outputText value="#{subroundresults.currentSubRound}:"/>
                                <p:dataList id ="fightslist" value="#{subroundresults.fightresults}" var="fightresults" type="unordered">
                                    <p:dataList id ="playercard" value="#{fightresults.playerCards}" var="playercards" type="unordered">
                                        <h:outputText value="#{playercards.getPlayer().getName()} played: "/>
                                        <h:outputText style="color: #{playercards.getCard().getColor().name()}" value="#{playercards.getCard().getValue()}"/>
                                    </p:dataList>
                                    <h:outputText value="#{fightresults.getWinner().getPlayer().getName()} has won with: " />
                                    <h:outputText value="#{fightresults.getWinner().getCard().getValue()}"
                                                  style=" color:#{fightresults.getWinner().getCard().getColor().name()} " />
                                </p:dataList>
                            </p:dataList>
                        </p:dataList>
                        <h3 style="margin-top:20px">Game design 2.1 </h3>
                        <p:tree id="tree" value="#{coolGameController.gameTree}" var="node" style="min-width: 200px " orientation="horizontal">
                            <p:treeNode>
                                <h:outputText value="#{node}" style="min-width: 200px" escape="false"/>
                            </p:treeNode>
                        </p:tree>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
