<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Home sweet Home</title>
            </f:facet>
            <h:outputStylesheet library="css" name="navbuttons.css"/>
            <style>
                .ui-widget-header {
                    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #b32e2e));
                    background-color:#fe1a00;
                    border:1px solid #050000;
                    color:#171317;
                    font-family:Arial;
                    font-size:15px;
                    font-weight:bold ;
                    text-shadow:0px 1px 0px #a33f38;
                }
            </style>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>
                <p:layoutUnit position="west" size="225" header="Menu" collapsible="true">
                    <h:button  outcome="simpleweb/SimpleGame" styleClass="navButton" value="Simple Cardgame" />
                    <h:button  outcome="coolweb/CoolGame" styleClass="navButton" value="Cool Cardgame" />
                    <h:button  outcome="/playableweb/PlayableGame" styleClass="navButton" value="Playable Game" />
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    Moin!
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>